*{
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Microsoft YaHei", "微软雅黑", sans-serif;
    line-height: 1.5;
    color: #242526;
  }
  
  html, body {
      overflow-x: hidden;
    }
    body {
      position: relative
    }  

  h1 {
      font-size: 2em;
      font-weight: 800;
  }

  h2 {
    font-size: 1.6em;
    font-weight: 800;
    margin-bottom: 10px
    }

h3 {
    font-size: 1.1em;
    font-weight: bold;
    }
    
  nav{
      display:flex;
      justify-content: space-around;
      align-items: center;
      min-height: 12vh;
      background-color: #f4f4f4;
      /*#e6eeff*/
  }
  
  .logo{
      font-size:24px;
      letter-spacing: 2px;
  }
  
  .logo h2{
      color: #242526;
      font-size: 1.2em;
      font-weight: normal;
  }
  
  .nav-links{
      display: flex;
      justify-content: space-around;
      width: 28%;
  }
  
  .nav-links a{
      color: #242526;
      letter-spacing: 2px;
  
      font-size:22px;
  }
  
  .nav-links a:hover{
      color:#242526;
      font-weight: bolder;
  }
  
  .burger{
      display: none;
      cursor: pointer;
  }
  .burger div{
      width:28px;
      height:3px;
      margin: 5px;
      background-color: #242526;
  }
  
  @media screen and (max-width:1500px){
      .nav-links{
          width: 55%;
        }
      
  }
  
  @media screen and (max-width:996px){
      body{
          overflow-x:hidden;
      }

      .nav-links{
          position:absolute;
          right:0px;
          height: 90vh;
          top:10vh;
          background-color: #f4f4f4;
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
          transform: translateX(100%);
          z-index: 2;
          overflow: hidden;
      }

      .nav-links a{
          color: #242526;
      }
  
      .nav-links a:hover{
          color:#242526;
          font-weight: bold;
      }
  
      .burger{
          display:block;
      }

  }
  
  .nav-active{
      transform:translateX(0%);
  }
  
  @keyframes navLinkFade{
      from{
          opacity: 0;
          transform: translateX(50px);
      }
      to{
          opacity: 1;
          transform: translateX(0px);
      }
  }


.method_image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}


.method_image_medium {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}

.method_image_small {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
}
  
.method_image img {
    max-width: 50%;
    max-height: 50%;
}

.method_image_medium img {
    max-width: 20%;
    max-height: 20%;
}

.method_image_small img {
  max-width: 10%;
  max-height: 10%;
}

  
.method_text {
    margin: 0; 
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 8%;

}

.method_text_less_space{
    margin: 0;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 2%;

}


footer {
    background-color: #f4f4f4;
    padding-bottom: 1%;
    padding-top: 1%;
}

.footer_text {
    margin: 0; 
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

h4 {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    color: #000000;
}

footer p {
    font-size: 1rem;
    line-height: 1.5rem;
    padding-top: 0.6rem;
}

@media screen and (max-width: 996px) {
.footer_text {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
}


ul li {
    margin-bottom: 1rem;
}

ul li a {
    color: #191919;
    font-size: 1.1rem;
    font-weight: normal;
}

ul li i {
    color: #a7382d;
}

ul li a:hover {
    color: #353535;
    font-weight: bolder;
}



*,
*::before,
*::after {
  box-sizing: border-box;
}

.timeline {
  position: relative;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: 15px 0;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 2px;
  background: #242526;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -1px;
}

.container {
padding: 15px 15px 30px 15px;
  position: relative;
  background: inherit;
  width: 50%;
}

.container.left {
  right:0%;
  padding-left: 15%;
}

.container.right {
  left: 50%;
  padding-right: 15%;
}

.container::after {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  top: calc(50% - 8px);
  right: -8px;
  background: #ffffff;
  border: 2px solid #242526;
  border-radius: 16px;
  z-index: 1;
}

.container.right::after {
  left: -8px;
}

.container::before {
  content: '';
  position: absolute;
  width: 50px;
  height: 2px;
  top: calc(50% - 1px);
  right: 8px;
  background: #242526;
  z-index: 1;
}

.container.right::before {
  left: 8px;
}

.container .time {
  position: absolute;
  display: inline-block;
  top: calc(49% - 8px);
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #242526;
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 1;
}

.container.left .time {
  right: -75px;
}

.container.right .time {
  left: -75px;
}

.container .icon {
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 40px;
  padding: 9px 0;
  top: calc(50% - 20px);
  background: #f4f4f4;
  border: 2px solid #242526;
  border-radius: 40px;
  text-align: center;
  font-size: 18px;
  color: #242526;
  z-index: 1;
}

.container.left .icon {
  right: 50px;
}

.container.right .icon {
  left: 50px;
}

.container .content {
  padding: 30px 90px 30px 30px;
  background: #DBDBDB;
  position: relative;
  border-radius: 500px 0 0 500px;

}
  
.container.right .content {
  padding: 30px 30px 30px 90px;
  border-radius: 0 500px 500px 0;

}

.container .content h2 {
  margin: 0 0 10px 0;
  font-size: 18px;
  font-weight: normal;
  color: #006E51;
}

.container .content p {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  color: #242526;
}


@media (max-width: 996px) {
  .timeline::after {
    left: 90px;
  }

  .container {
    width: 100%;
    padding-left: 120px;
    padding-right: 15%;
  }

  .container.left,
  .container.right {
    left: 0; 
    right: auto; 
    padding-left: 110px; 
    padding-right: 15%; 
  }

  .container.right .content {
    padding: 30px 30px 30px 90px;
    border-radius: 0 500px 500px 0;
    background: #f4f4f4;
  }

  .container.left::after, 
  .container.right::after {
    left: 82px;
  }

  .container.left::before,
  .container.right::before {
    left: 98px;
    border-color: transparent #242526 transparent transparent;
  }

  .container.left .time,
  .container.right .time {
    right: auto;
    left: 15px;
  }

  .container.left .icon,
  .container.right .icon {
    right: auto;
    left: 146px;
  }

  .container.left .content,
  .container.right .content {
    padding: 30px 30px 30px 90px;
    border-radius: 500px 0 0 500px;
  }
}


.right_image {
    float: right;
    margin-left: 10px;
    width: 110px; 
    height: auto; 
    border-radius: 10px;
}


/* code modified from w3schools, */ 

/* Slideshow container */
.slideshow-container {
  max-width: 50%;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: #000000;
  font-weight: bold;
  font-size: 22px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: #888888;
}

/* Caption text */
.img_text {
  color: #242526;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 3%;
  width: 100%;
  text-align: center;
  font-weight: bold;
}


/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin: 0 8px;
  background-color: #c4c4c4;
  border-radius: 30%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #242526;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

.numbertext {
  color: #000000;
  font-size: 15px;
  padding: 8px 15px;
  position: absolute;
  top: 1%; 
  left: 50%;
  transform: translateX(-50%); 
  text-align: center;
  background: #f4f4f4; 
}


.slide_image img {
  max-width: 100%;
  max-height: 100%;
}


@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@media screen and (max-width: 996px) {
  .img_text {
display: none;
  }
  
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 9px;
    margin-top: -18px;
    color: #000000;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 2px 0;
    user-select: none;
  }

  .numbertext {
display: none;
  }
  
  }
